@font-face {
    font-family: myFirstFont;
    src: url(fonts/Starjout.ttf);
    font-weight: bold;
}
    @font-face {
    font-family: mySecondFont;
    src: url(fonts/Transformers_Movie.ttf);
    font-weight: bold;
}
    body{
        background-color: black;
    }
    h1{
        font-family: myFirstFont
    }
    h1{
        color:crimson;
    }
    h5{
        font-family: mySecondFont
    }
    h5{
        color:rgb(5, 135, 100);
    }
    #left{
        width: calc(55% / 2);
        float: left;
    }
    #right{
        width: calc(55% / 2);
        float: left;
    }
    #answer{
        color: blue
    }